@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('https://pub-987c950e405048c9a4608dfc03315d7e.r2.dev/SpoqaHanSansNeo-Light.woff2') format('woff2'),
        url('https://pub-987c950e405048c9a4608dfc03315d7e.r2.dev/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('https://pub-987c950e405048c9a4608dfc03315d7e.r2.dev/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
        url('https://pub-987c950e405048c9a4608dfc03315d7e.r2.dev/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    src: url('https://pub-987c950e405048c9a4608dfc03315d7e.r2.dev/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
        url('https://pub-987c950e405048c9a4608dfc03315d7e.r2.dev/SpoqaHanSansNeo-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'SpoqaHanSansNeo', sans-serif;
    line-height: 1.2;
}
ul, ol {
    list-style: none;
}
input,textarea,select,button {
    display: inline-block;
    border: 0;
    border-radius: 0;
    background: transparent;
    font: inherit;
    vertical-align: top;
}
a {
    text-decoration: none;
    color: inherit;
}
em {
    font-style: normal;
}
input::placeholder,
input::-webkit-input-placeholder {
	color: #c2c2c2;
}
.blind {
    overflow: hidden !important;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    clip: rect(0 0 0 0) !important;
}
